body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: green;
}

.navbar img{
  height: 84px;
  margin-top: 20px;
}