body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  height: 9vh;
  align-items: center;
  justify-content: space-between;
  background-color: #1B365D;
}

.navbar img{
  max-height: 80px;
  margin-top: 20px;
}

.txt1{
  display: flex;
    gap: 5em;
    margin-right: 5%;
}

.txt1 p{
  color: white;

}

.cursor1{
border-bottom: 5px solid #09AAFF;
margin-bottom: 7px;
}

.banner{
  display: flex;
  justify-content: center;
  height: 24vh;
}

.txt1-banner{
  color: #1B365D;
  text-align: center;
  width: 30%;
  font-size: 2em;
}

.txt2{
  display: flex;
  justify-content: center;
  gap: 4em;
  margin-bottom: 2%;
}

.card1{
  background-color: #09AAFF;
  text-align: center;
  width: 12%;
  color: white;
  border-radius: 5px;
}
.card2{
  background-color: white;
  border: 1px solid #09AAFF;
  text-align: center;
  width: 10%;
  color: #1B365D;
  border-radius: 5px;
}

.mapa1{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.mapa1 img{
  max-height: 80vh;    
  max-width: 100%;     
  height: auto;
}

.funcao{
  display: flex;
  justify-content: center;
  margin-top: 20px;
} 

.funcao-box{
  display: flex;
  background-color: #1B365D;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  padding: 15px;
  border-radius: 20px;
}
.titulo-funcao{
  display: flex;
  justify-content: center;
}
.titulo-funcao p{
  color: #09AAFF;
  font-size: 3em;
}

.txt-funcao p{
  font-size: 1.6em;
  text-align: center;
  color: white;
}
.img-funcao{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  height: 50px;
}
.img-funcao img{
  max-height: 100px;
}